{% include header.html %}

<section class="landing">
    <div class="disk blue"></div>
    <div class="content">
        {% include bigassshinybutton.html %}
        {{content}}
    </div>
    <a class="scrolldown" onclick="window.scrollTo(0,900)"></a>
</section>

<section class="team">
    <div class="content">
        <h2>{{ translations.onze_advocaten[page.language] }}</h2>
    </div>
</section>

<section class="posts">
    <div class="disk brown"></div>
    <div class="content">
        <div class="blogs">
            {% assign bloglist = site.posts | where:"language",page.language%}
            {% for item in bloglist limit: 3 %}
            <a class="blogdot" href="{{ item.url }}">
                <img src="/img/logo_white.svg" alt="Silk logo white">
                <span>Blog</span>
                <h3 class="it">{{ item.title }}</h3>
                <span>{{ item.author_role }} {{ item.author }}</span>
            </a>
            {% endfor  %}
        </div>
        <h2 class="h1">Expertises.</h2>
        <div class="expertises">
            <article>
                <h3>{{ translations.familierecht[page.language] }}</h3>
                <p>{{ page.expertises.familierecht_text }}</p>
                <a class="btn" href="{{ translations.familierecht[page.language] | downcase }}">{{ translations.lees_verder[page.language] }}</a>
            </article>
            <article>
                <h3>{{ translations.erfrecht[page.language] }}</h3>
                <p>{{ page.expertises.erfrecht_text }}</p>
                <a class="btn" href="{{ translations.erfrecht[page.language] | downcase }}">{{ translations.lees_verder[page.language] }}</a>
            </article>
            <article>
                <h3>{{ translations.mediation[page.language] }}</h3>
                <p>{{ page.expertises.mediation_text }}</p>
                <a class="btn" href="{{ translations.mediation[page.language] | downcase }}">{{ translations.lees_verder[page.language] }}</a>
            </article>
        </div>
    </div>
</section>

{% include footer.html %}