{% include header.html %}
    <h1>{{ page.title }}</h1>
    <img src="/img/kwal.jpg" alt="">
    <p>Price: {{ page.price }}</p>
    <p>Description: {{ page.description_text }}</p>
    <button class="snipcart-add-item" id="{{ item.sku }}"
        data-item-id="{{ item.sku }}"
        data-item-price="{{ item.price }}"
        data-item-url="{{site.url}}{{ item.url }}"
        data-item-description="{{ item.description_text }}"
        data-item-image="{{ item.image }}"
        data-item-name="{{ item.name }}">
    Buy
</button>
{% include footer.html %}